html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: content-box;
  overflow: hidden;
}
.body {
  width: 100%;
  height: 96%;
  background-image: url("../images/aa.png");

  background-size: cover;
}
.cursor {
  cursor: pointer;
}
::-webkit-scrollbar{
  background-color:transparent;
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color:#E94A4E;
  
}
.inner-body {
  width: 350px;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.each-desktop-icon-container {
  padding: 5px;
  text-align: center;
  max-width: 100px;
  cursor: pointer;
}
.each-desktop-icon-container:hover {
  background-color: #6c757d;
}
.each-desktop-icon {
  font-size: 70px;
}
.each-desktop-icon-img {
  width: 50px;
}
.desktop-text {
  color: white;
}
footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.footer-content {
  width: 100%;
  overflow: hidden;
}
.each-footer-icon {
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}
/*
colors


*/
.text-js {
  color: rgb(177, 177, 58);
}

/*window*/
.window {
  position: absolute;
  top: 0%;
  display: none;
  width: 70%;
  height: 80%;
  margin-left: 50px;
  margin-top: 50px;

  box-sizing: border-box;
  font-family: Inconsolata;
}

.window-action-header-right,
.window-action-header-left {
}
.window-body {
  width: 100%;
  height: 95%;
  height: 100%;
  overflow: auto;
  background-color: #021E45;
  color: white;
}
.window-project-icon {
  width: 100px;
  overflow-x: hidden;
}
img {
  width: 100%;
}
.fa-actions {
  font-size: 20px;
}

.fa-long-arrow-alt-up {
  transform: rotate(230deg);
}
.r-icon {
  border-radius: 50%;
}
.window-icon-img {
  width: 25px;
  background-color: white;
}
.task-window-icon-img {
  width: 20px;
  background-color: white;
  cursor: pointer;
}
.right-tb {
  position: relative;
}
.chevron-box {
  display: none;
  color: white;
  position: absolute;
  z-index: 10;
}
.fa {
  cursor: pointer !important;
}
/*fonts */
.font-1{
  font-family: exo;
  font-weight: bold;

}
.window h3, .l1{
  color: #E94A4E;
}
.window h5{
  color: yellow;
}
.l2{

}
.jump_anim{
  max-width: 300px;
}
@media (max-width: 772px) {
  .normal-tb,
  .right-tb {
    height: 25px;
  }
  .normal-tb {
    overflow: auto !important;
  }

  .right-tb {
    overflow: hidden;
  }

  .window {
    width: 90%;
    margin-left: 10px;
  }

  .each-desktop-icon-container {
    padding: 2px;
    max-width: 70px;
  }

  .each-desktop-icon {
    font-size: 50px;
  }
  .each-desktop-icon-img {
    width: 40px;
  }
  .fa-battery-three-quarters,
  .fa-comment-alt {
    display: none;
  }
}
